<!-- page content -->
<div class="page-content">  
<!-- page content wrapper -->
<div class="page-content-wrap bg-light">
    <!-- page content holder -->
    <div class="page-content-holder no-padding">
        <!-- page title -->
        <div class="page-title">                            
            <h1>List of Our Clients</h1>
            <!-- breadcrumbs -->
            <ul class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Clients</li>
            </ul>               
            <!-- ./breadcrumbs -->
        </div>
        <!-- ./page title -->
    </div>
    <!-- ./page content holder -->
</div>
<div class="page-content-wrap bg-img-1 light-elements">                    
    <!-- page content holder -->
    <div class="page-content-holder">
        <div class="row">
            <div class="col-md-4 text-center block-margin" data-animate="fadeInRight">
                <img src="images/logos/LT-logo.png" class="img-responsive-mobile" width="200" height="160"/>          
                  <h6 class="block-heading-text block-heading-centralized">L&T, Howden Faridabad</h6>  
            </div>
            <div class="col-md-4 text-center block-margin" data-animate="fadeInRight">
                <img src="images/logos/cyient-logo.png" class="img-responsive-mobile" width="200" height="160" />        
                  <h6 class="block-heading-text block-heading-centralized">Cyient, Hyderabad and Bangalore</h6>  
            </div>
            <div class="col-md-4 text-center block-margin" data-animate="fadeInLeft">
                <img src="images/logos/BE_Aerospace_Logo.png" class="img-responsive-mobile" width="200" height="160"/>          
                  <h6 class="block-heading-text block-heading-centralized">B/E Aerospace, Hyderabad</h6>  
            </div>
            <div class="col-md-4 text-center block-margin" data-animate="fadeInRight">
                <img src="images/logos/Tata-group-logo.png" class="img-responsive-mobile" width="200" height="160"/>          
                  <h6 class="block-heading-text block-heading-centralized">Tata Technologies Ltd,TTL Pune</h6>  
            </div>            
            <div class="col-md-4 text-center block-margin" data-animate="fadeInLeft">
                <img src="images/logos/logo_taal.jpg" class="img-responsive-mobile" width="200" height="160" />        
                  <h6 class="block-heading-text block-heading-centralized">TAAL engineering services, Bangalore</h6>  
            </div>
            <div class="col-md-4 text-center block-margin" data-animate="fadeInLeft">
                <img src="images/logos/Uniparts.jpg" class="img-responsive-mobile" width="200" height="160"/>          
                  <h6 class="block-heading-text block-heading-centralized">Uniparts, Visakhapatnam</h6>  
            </div>
            <div class="col-md-4 text-center block-margin" data-animate="fadeInRight">
                <img src="images/logos/semcon-logo.jpg" class="img-responsive-mobile" width="200" height="160" />        
                  <h6 class="block-heading-text block-heading-centralized">Semcon, Bangalore</h6>  
            </div> 
            <div class="col-md-4 text-center block-margin" data-animate="fadeInRight">
                <img src="images/logos/rasu_logo.jpg" class="img-responsive-mobile" width="200" height="160"/>          
                  <h6 class="block-heading-text block-heading-centralized">Rasu Tools, Hyderabad</h6>  
            </div>
            <div class="col-md-4 text-center block-margin" data-animate="fadeInRight">
                <img src="images/logos/cvk-logo.gif" class="img-responsive-mobile" width="200" height="160"/>          
                  <h6 class="block-heading-text block-heading-centralized">CVK Tech, Hyderabad</h6>  
            </div>
        </div>                                               
    </div>
    <!-- ./page content holder -->
    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>
</div>
<!-- ./page content wrapper -->
                
</div>
<!-- ./page content -->