            <!-- page footer -->
            <div class="page-footer">                
                <!-- page footer wrap -->
                <div class="page-footer-wrap bg-dark-gray">
                    <!-- page footer holder -->
                    <div class="page-footer-holder page-footer-holder-main">                                           
                        <div class="row">                            
                            <!-- about -->
                            <div class="col-md-5">
                                <h3>About us</h3>
                                <p>Spline Engineering Consultants provides services in the domain of Automotive, Aerospace, tooling and heavy engineering in these following areas : Engineering Design Services inclusive of 3D modelling, 2D drawings and quality check of drawings at site.</p>
                            </div>
                            <!-- ./about -->                            
                            <!-- quick links -->
                            <div class="col-md-3">
                                <h3>Quick links</h3>                                
                                <div class="list-links">
                                    <a href="#/home">Home</a>                                    
                                    <a href="#/services">Services</a>
                                    <a href="#/aboutus">About us</a>
                                    <a href="#/contact">Contact us</a>
                                </div>                                
                            </div>
                            <!-- ./quick links -->
                           
                            <!-- contacts -->
                            <div class="col-md-4">
                                <h3>GET in Touch</h3>
                                
                                <div class="footer-contacts">
                                    <div class="fc-row">
                                        <span class="fa fa-home"></span>
                                        Plot-623, 2nd Floor, Vivekananda Nagar,<br/> 
                                        Kukatpally, Hyderabad-500072
                                    </div>
                                    <div class="fc-row">
                                        <span class="fa fa-phone"></span>
                                        <strong>Phone No</strong><br>
                                        (040) 65180006
                                    </div>
                                    <div class="fc-row">
                                        <span class="fa fa-envelope"></span>
                                        <strong>E-mail</strong><br>
                                        <a href="mailto:spline@splineengg.com">Spline</a><br>
                                        <a href="mailto:hr@splineengg.com">hr@splineengg.com</a>
                                    </div>                                    
                                </div>
<!--                                 
                                <h3>Subscribe</h3>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Your email"/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary"><span class="fa fa-paper-plane"></span></button>
                                    </div>
                                </div> -->
                                
                            </div>
                            <!-- ./contacts -->
                            
                        </div>
                        
                    </div>
                    <!-- ./page footer holder -->
                </div>
                <!-- ./page footer wrap -->
                
                <!-- page footer wrap -->
                <div class="page-footer-wrap bg-darken-gray">
                    <!-- page footer holder -->
                    <div class="page-footer-holder">
                        
                        <!-- copyright -->
                        <div class="copyright">
                            Copyrights &copy; 2016 Spline Engineering Consultants by <strong><a href="#/">splineengg.com</a></strong> - All Rights Reserved                            
                        </div>
                        <!-- ./copyright -->
                        
                        <!-- social links -->
                        <div class="social-links">
                            <a href="#"><span class="fa fa-facebook"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                            <a href="#"><span class="fa fa-google-plus"></span></a>
                            <a href="#"><span class="fa fa-linkedin"></span></a>
                        </div>                        
                        <!-- ./social links -->
                        
                    </div>
                    <!-- ./page footer holder -->
                </div>
                <!-- ./page footer wrap -->
                
            </div>