<!-- page content -->
<div class="page-content">                
<!-- page content wrapper -->
<div class="page-content-wrap bg-img-2 light-elements">
    <!-- page content holder -->
    <div class="page-content-holder">                        
        <div class="block-heading block-heading-centralized" data-animate="fadeInDown">
            <h2><strong>Spline</strong> Engineering Consultants</h2>
            <div class="block-heading-text">
                <!-- &mdash; --> Complete Engineering Design Solutions through CAD / CAM / CAE / PLM
            </div>
        </div>                           
        <div class="block push-up-20">
        <div class="row">
        <!-- Wrapper for slides -->
        <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/banner-img1.jpg">
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="images/banner-img2.jpg">
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="images/banner-img3.jpg">
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="images/banner-img4.jpg">
            </div>
            <!-- End Item -->
            <!-- End Carousel Inner -->
        </div>
        </div>
        <!-- Carousel -->
<!--                 <div class="col-md-4">
                    <div class="text-column" data-animate="fadeInLeft">
                        <h4>100% Responsive</h4>
                        <div class="text-column-info">
                            This allows you to create web applications of varying complexity for different devices
                        </div>
                    </div>
                    <div class="text-column" data-animate="fadeInLeft">
                        <h4>Admin Template</h4>
                        <div class="text-column-info">
                            Based on latest jQuery and Bootstrap3. You will get 40+ pages with samples and ready-to-use styled UI elements. Also template powered with 40+ jQuery and JavaScript plguins.
                        </div>
                    </div>
                </div>
                <div class="col-md-8 text-center" data-animate="fadeInRight">
                    <img src="assets/atlant_monitor.png" class="img-responsive-mobile"/>
                </div> -->
            </div>
        </div>        
    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->              
<!-- page content wrapper -->
<div class="page-content-wrap">
    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>                      
    <!-- page content holder -->
    <div class="page-content-holder">        
        <div class="row">
            <div class="col-md-12" data-animate="fadeInLeft">                
                <div class="block-heading block-heading-centralized">
                    <h2 class="heading-underline">Welcome to Spline Engineering Consultants</h2>                
                </div>
                    <div class="block-content">
                    <p align="justify"> Spline Engineering Consultants has been established by a group of experts with decade of experience in executing projects in the domains of automotive, aerospace, heavy engineering and tooling solutions.</p>
            <div class="col-md-4 text-center" data-animate="fadeInRight">
                <img src="images/home-img.jpg" class="img-responsive-mobile"/>
            </div>
                    <p align="justify"> Spline Engineering Consultants is a vibrant engineering group, primarily drawn from Indian industries, focuses on providing clients with the best of total solutions in design, manufacturing and marketing in the domains.</p>
                    <p align="justify"> Spline Engineering Consultants is also engaged in conducting specific short term courses and vocational training programs for continuous education for onsite engineers and fresh graduates.</p>
                    <p align="justify">
                        These programs are tailor made to impart knowledge in the specific areas of the domains and groom them with technical skills to meet the industry requirements.
                    </p>
                    </div>
            </div>
        </div>
    </div>
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->                

<!-- page content wrapper -->
<div class="page-content-wrap bg-texture-1 bg-dark light-elements">
    
    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>
    
    <!-- page content holder -->
    <div class="page-content-holder">
                                
        <div class="row">
            
            <div class="col-md-4">                                
                <div class="text-column text-column-centralized tex-column-icon-lg" data-animate="fadeInLeft">
                    <div class="text-column-icon">
                        <span class="fa fa-support"></span>
                    </div>
                    <h4>Domain Knowledge</h4>
                    <div class="text-column-info">
                        
                    </div>
                </div>                                
            </div>
            
            <div class="col-md-4">                                
                <div class="text-column text-column-centralized tex-column-icon-lg" data-animate="fadeInUp">
                    <div class="text-column-icon">
                        <span class="fa fa-wrench"></span>
                    </div>
                    <h4>Engineering Design</h4>
                    <div class="text-column-info">
                        
                    </div>
                </div>                                
            </div>
            
            <div class="col-md-4">                                
                <div class="text-column text-column-centralized tex-column-icon-lg" data-animate="fadeInRight">
                    <div class="text-column-icon">
                        <span class="fa fa-cogs"></span>
                    </div>
                    <h4>Core Manufacturing</h4>
                    <div class="text-column-info">
                        
                    </div>
                </div>                                
            </div>
            
        </div>
        
    </div> 
    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div> 
    <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->
</div>
<!-- ./page content -->



<script>
    $('#carousel').carousel({
        interval: 1500
    })
</script>





